/* frontend/src/components/NavbarNested/LinksGroup.module.css */
.control {
  font-weight: 500;
  display: block;
  width: 100%;
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-md);
  color: light-dark(var(--mantine-color-black), var(--mantine-color-dark-0));
  font-size: var(--mantine-font-size-sm);
  border-radius: var(--mantine-radius-md);

  &:hover {
    background-color: light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-7));
    color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  }
}

.link {
  font-weight: 500;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-md);
  padding-left: var(--mantine-spacing-md);
  margin-left: var(--mantine-spacing-md);
  font-size: var(--mantine-font-size-sm);
  color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-0));
  border-left: rem(1px) solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));

  /* Estilo do link ativo (página selecionada) */
  &[data-active='true'] {
    color: var(--mantine-color-orange-filled);
    background-color: var(--mantine-color-orange-light);
    font-weight: 600;
  }

  &:hover {
    background-color: light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-7));
    color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  }
}

.sublinkIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: var(--mantine-spacing-sm);
}

.chevron {
  transition: transform 200ms ease;
  
  &[data-rotate] {
    transform: rotate(90deg);
  }
}

/* Esconder texto e ajustar quando colapsado */
.labelCollapsed {
  display: none;
}

.controlCollapsed {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--mantine-spacing-xs);
}

/* Centralizando o ícone no modo colapsado */
.iconContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/* Container para o Popover */
.popoverWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

/* Estilos para o Popover */
.popoverLinks {
  display: flex;
  flex-direction: column;
  gap: var(--mantine-spacing-xs);
  
  & .link {
    margin-left: 0;
    border-left: none;
    padding-left: var(--mantine-spacing-xs);
  }
}

/* Estilo para o controle ativo */
.controlActive {
  background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-5));
  font-weight: 600;
}