/* frontend/src/components/NavbarNested/UserButton.module.css */
.user {
  display: block;
  width: 100%;
  padding: 16px;
  border-radius: 8px;
}

.user:hover {
  background-color: var(--mantine-color-gray-1);
}

[data-mantine-color-scheme="dark"] .user:hover {
  background-color: var(--mantine-color-dark-8);
}

.userCollapsed {
  padding: 4px;
}

.userCollapsed > div {
  justify-content: center;
}

.userInfoCollapsed {
  display: none;
}