/* frontend/src/components/NavbarNested/UserButton.module.css */
.user {
  display: block;
  width: 100%;
  padding: 16px;
  border-radius: 8px;
  transition: all 0.2s ease;
}

.user:hover {
  background-color: hsl(var(--accent));
  color: hsl(var(--accent-foreground));
}

.userCollapsed {
  padding: 4px;
}

.userCollapsed > div {
  justify-content: center;
}

.userInfoCollapsed {
  display: none;
}